
img	{
	width: 30%;
	float: left;
	margin: 1.6%;
}

p {
	font-family: Raleway;
	text-transform: uppercase;
	margin-left: 1.66%;
	font-weight: 800;

	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 2px;

	width: 30%;
}	
