h1	{
	text-align: center;
	color: red;
}


td {
	width: 100px;
	height: 100px;
	/*background: blue;*/
}

.vertical {
	border-left: 2px solid;
	border-right: 2px solid;

}

.horizontal {
	border-bottom: 2px solid;
	border-top: 2px solid;
}

table{
	margin:auto;
}

